.change-status-button{
    display: flex;
    justify-content: center;
    gap: 1rem;
    &__close{
        margin-bottom: 1rem;
    }
    &__container{
        display: flex;
        flex-direction: column;
    }
    .custom-button {
        background-color: #4caf50; /* Màu xanh lá cây */
        border-color: #4caf50;
        color: white;
      
      &__transport {
        background-color: #2196f3; /* Màu xanh dương */
        border-color: #2196f3;
        color: white;
      }     
    }
}