.manage-fish {
    display: flex;
    height: 100vh;
  .admin-content {
    flex-grow: 1;
    background-color: #f5f7fa;
    padding: 20px;
    &__title{
      color: #1d4ed8;
      margin-top: 1rem;
    }
  }

  }