.single-product {

    .breadcrumb-banner {
      margin-bottom: 20px; // Spacing below the breadcrumb
      background-color: #f9f1e7;
      height: 100px;
      display: flex;

      .breadcrumb {
        display: flex;
        align-items: center;
        font-size: 16px;
        padding-left: 100px;
        margin-top: 10px;
 
        &-link {
          color: #000;
          text-decoration: none;
  
          &.faded {
            opacity: 0.5; // Faded effect for links
          }
        }
  
        &-separator {
          margin: 0 15px; // Space between breadcrumb links
        }
  
        &-current {
          font-weight: bold; // Highlight the current page
        }
      }
    }
  
    .product-container {
      display: flex; // Flexbox layout for product details
      margin-top: 20px;
  
      .image-gallery {
        display: flex; // Horizontal layout for main and thumbnail images
        align-items: flex-start; // Align items at the start
        margin-right: 20px; // Space between image gallery and product details
  
        .thumbnail-container {
          display: flex;
          flex-direction: column; // Align thumbnails vertically
          margin-right: 10px; // Space between thumbnails and main image
  
          .thumbnail {
            width: 80px; // Width for thumbnail images
            height: 80px; // Height for thumbnail images
            border-radius: 8px; // Rounded corners
            margin-bottom: 10px; // Space between thumbnails
            cursor: pointer; // Change cursor on hover
            object-fit: cover; // Cover image for thumbnails
          }
        }
  
        .main-image {
          border-radius: 8px; // Rounded corners for the main image
          box-shadow: 0px 4px 4px rgba(238, 238, 238, 0.25); // Drop shadow
        }
      }
  
      .product-details {
        flex-grow: 1; // Take remaining space
  
        .price {
          font-size: 18px; // Price font size
          margin-top: 10px; // Space above price
        }
  
        .color-selection {
          margin-top: 10px; // Space above color selection
          display: flex; // Flexbox for color options
          align-items: center; // Center vertically
  
          .color-option {
            width: 30px; // Width for color buttons
            height: 30px; // Height for color buttons
            border-radius: 50%; // Circle shape
            margin-right: 5px; // Space between color options
            border: none; // No border
            cursor: pointer; // Change cursor on hover
          }
        }
  
        .action-buttons {
          margin-top: 20px; // Space above action buttons
          display: flex; // Flexbox for buttons
  
          .buy-button {
            margin-right: 10px; // Space between buttons
          }
        }
      }
    }
  }
  