
.banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('public/images/banner.svg');
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 2rem;
    height: auto;
}

.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;


    &.message {
        height: 150px; 
        resize: vertical; 
      }

    &-label {
      margin-bottom: 8px;
      font-weight: bold;
      text-align: left;
      width: 100%;
    }

    &-control {
      width: 100%;
      margin-bottom: 1.5rem;
      padding: 0.75rem;
      border: 1px solid #d4c8b2;
      border-radius: 4px;
      font-size: 1.1rem;
      box-sizing: border-box;

    }
  }


  .contact-button {
    background-color: #f9f1e7;
    color: black;
    border: 1px solid #d4c8b2;
    padding: 1rem;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    margin-bottom: 1rem;

    &:hover {
      background-color: #e9e1d7;
    }
  }

.content-1{
    padding-right: 5vw;
    width: 20vw;
}

.content-2{
    padding-left: 5vw;
    width: 20vw;
}