@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.userinfo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto;
  min-height: 85vh;
  margin: 20px; 
  justify-content: center;
}

.userinfo-item {
  margin-bottom: 10px;
}

.userinfo-item span {
  font-weight: bold;
  margin-right: 10px;
}