.sidebar {
    position: fixed;
    top: 0;
    right: -300px; 
    width: 250px;
    height: 100%;
    background-color: #fff;
    background-image: url("https://e0.pxfuel.com/wallpapers/613/327/desktop-wallpaper-koi-fish-for-iphone-minimal-fish.jpg");
    background-position-y: 60%;
    background-position-x: 7%;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease;
    z-index: 1000; 
  
    &.open {
      right: 0; 
    }
  
    .sidebar__close {
      background: none;
      border: none;
      font-size: 20px;
      cursor: pointer;
      position: absolute;
      top: 10px;
      left: 10px; 
      color: #000;
  
   
      &:hover {
        color: #ff4d4f; 
      }
    }
  
    ul {
      list-style: none;
      padding: 40px;
  
      li {
        margin: 15px 0;
        padding-bottom: 5px;
  
        a {
          text-decoration: none;
          color: #000;
          font-size: 18px;
  
          &:hover {
            color: #007bff; 
          }
        }
      }
    }
  }
  