.search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 10px;
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 10px;
}

.compare-button {
  border: 1px solid #d4c8b2;
  margin-left: 5px;
}

.product-page {
  width: 100%;
  margin: 0 auto; // Center the page

  .product-content {
    .search-filter {
      display: flex;
      align-items: center;
      justify-content: center;
  

      .filter-options {
        display: flex;
        align-items: center;

        button {
          margin-right: 5px; // Space between buttons
        }
      }

      .search-form {
        display: flex;
        align-items: center;

        .search-input {
          width: 300px;
          margin-left: 10px;
          border: 1px solid #d4c8b2;
        }

        .search-button {
          margin-left: 5px;
          border: 1px solid #d4c8b2;
        }
      }
    }

    h2 {
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
      padding-top: 2rem;
      padding-bottom: 1rem;
    }

    .product-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      align-items: flex-start; 
      padding-left: 10vw;

      .ant-card {
        margin: 16px;
        width: calc(30% - 32px);
        transition: transform 0.3s ease-in-out;
        display: flex;
        flex-direction: column; 
        height: 100vh; 

           // Enhanced border styles
           border: 1px solid #d4c8b2; // Increase border width and set color
           border-radius: 8px; // Slightly round the corners
           box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Add a subtle shadow
      

        &:hover {
          transform: scale(1.05);
        }

        .ant-card-cover {
          img {
            
            height: 35vh; // Set a fixed height for uniformity
            object-fit: contain; 
            transition: filter 0.3s ease-in-out;

            &:hover {
              filter: grayscale(30%);
            }
          }
        }

        .ant-card-body {
          text-align: center; // Center all properties
          flex-grow: 1; // Allow the body to grow and take available space
          display: flex;
          flex-direction: column; // Stack elements vertically
          justify-content: space-between; // Space out elements

          .ant-card-meta-title {
            font-weight: bold; // Bold the product name
          }

          .price {
            font-weight: bold; // Bold the price
          }

          p {
            margin: 0; // Remove default margin for paragraphs
          }

          button {
            margin-top: 10px; // Space above the button
          }
        }
      }
    }
  }
}