.wallet-page {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    max-width: 80vw;
    margin: 0 auto;

    .balance-number{
        font-size: 1.5rem;
        font-weight: bold;
       
    }
  
    h2 {
      text-align: center;
      padding-top: 5vh;
      padding-bottom: 5vh;
      color: #B88E2F;
    }
  
    .account-balance {
      margin-bottom: 20px;
      font-size: 1.5rem;
      font-weight: bold;
      
    }
  
    .amount-selection {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
  
      .button-group {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
  
        .fixed-ammount-button {
          background-color: #f9f1e7;
          color: black;
          border: 1px solid #d4c8b2;
          font-weight: 600;
          font-size: 1.1rem;
          border-radius: 6px;
          cursor: pointer;
          width: 20vw;
          height: 20vh;
          margin: 0 5px;
          transition: background-color 0.3s, box-shadow 0.3s;
  
          &:hover, &:focus, &.selected {
            background-color: #e9e1d7;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          }
        }
      }
  
      input {
        margin-top: 10px;
        padding: 5px;
        width: 40.5vw;
        height: 10vh;
        border: 1px solid #d4c8b2;
        border-radius: 6px;
        font-size: 1.1rem;
        transition: border-color 0.3s;
  
        &:focus {
          border-color: #a68b6d;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
      }
    }
  
    .confirm-button {
      background-color: #f9f1e7;
      color: black;
      border: 1px solid #d4c8b2;
      font-weight: 600;
      font-size: 1.1rem;
      border-radius: 6px;
      cursor: pointer;
      width: 20vw;
      height: 10vh;
      transition: background-color 0.3s, box-shadow 0.3s;
      margin-bottom: 20px;
  
      &:hover {
        background-color: #e9e1d7;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      }
    }
  
    .transaction-history-table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
  
      th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
      }
  
      th {
        background-color: #f2f2f2;
      }
    }
  }

  .wallet-page-wrapper{
    padding-top: 5vh;
    padding-bottom: 5vh;
  }