.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2 rem;
    

    .ant-card {
        height: 70vh;
    }
}

.pagination{
    justify-content: center;
}
.button{
    justify-content: center;
}